core---github---automatic-backup-core.json
{
  "createdAt": "2025-07-08T11:32:56.369Z",
  "updatedAt": "2025-07-08T15:47:06.000Z",
  "id": "1DrCa3gMVPtYXt2t",
  "name": "Core - GitHub - Automatic Backup",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "03408abc-636b-47a4-bafc-7c52b392b2bb",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        -540,
        -240
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "filters": {},
        "requestOptions": {
          "allowUnauthorizedCerts": true
        }
      },
      "id": "375c589d-b88e-4c98-8d5f-f78e240bec62",
      "name": "Retrieve workflows",
      "type": "n8n-nodes-base.n8n",
      "position": [
        0,
        -140
      ],
      "typeVersion": 1,
      "credentials": {
        "n8nApi": {
          "id": "4KOKpaFhIcRCcIHF",
          "name": "N8N - Tomas Zaruba"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "cfe04862-391a-4ccb-bed6-f347665b6fb4",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        -160,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "repository",
        "owner": {
          "__rl": true,
          "value": "groupon",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/groupon/n8n_backup"
        },
        "returnAll": true,
        "getRepositoryIssuesFilters": {}
      },
      "id": "da3e08be-63ba-4d24-92b3-f82f56bf22c9",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        -320,
        -140
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "qPZdyhyBMK2rvnKs",
          "name": "GitHub Tomas Zaruba"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "groupon",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/groupon/n8n_backup"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "d03b661a-f23e-4fa4-9f82-b024ca1382fd",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        900,
        -220
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "qPZdyhyBMK2rvnKs",
          "name": "GitHub Tomas Zaruba"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "groupon",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n_backup",
          "mode": "list",
          "cachedResultName": "n8n_backup",
          "cachedResultUrl": "https://github.com/groupon/n8n_backup"
        },
        "filePath": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "a1737dda-215d-40ea-b2c5-219af9090818",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        900,
        -60
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "qPZdyhyBMK2rvnKs",
          "name": "GitHub Tomas Zaruba"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        }
      },
      "id": "3dbaf5e5-a15b-4156-8640-3d7185390074",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        700,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "39319271-947a-4f98-b423-2b1bf577c61f",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        160,
        -140
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {}
      },
      "id": "c9a491f0-0a10-4921-92c1-0c89715259e0",
      "name": "To base64",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        320,
        -140
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "76b47a5c-7a6d-47c1-8d4c-6bc13420ca41",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -340,
        -280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Retrieve workflows').item.json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $('Retrieve workflows').item.json.tags[0].name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "386e18d8-dbc3-4398-8e57-09e20b981f25",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        520,
        -140
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 460,
        "color": 3
      },
      "id": "411c9abb-9bd2-4b22-84d3-267e0d4e52ac",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -20,
        -280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 640,
        "color": 4
      },
      "id": "f598bae3-fafa-4765-b8c1-cddafd4b8036",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        -280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "path": "2f4d214e-492b-488b-ab05-3da3cc8bd172",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -600,
        -80
      ],
      "id": "f26db702-fd72-4c66-a3f0-ad865a897b77",
      "name": "Webhook",
      "webhookId": "2f4d214e-492b-488b-ab05-3da3cc8bd172"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve workflows": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Retrieve workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "To base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "To base64": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fee36f6d-49e5-4d51-9e11-ee70aa86292f",
  "triggerCount": 2,
  "tags": [
    {
      "createdAt": "2025-07-08T15:47:00.781Z",
      "updatedAt": "2025-07-08T15:47:00.781Z",
      "id": "Q2QNC34dQLDmP52z",
      "name": "core"
    }
  ]
}