pull-request---mono-repo-encore-Encore.json
{
  "createdAt": "2025-06-06T10:29:36.754Z",
  "updatedAt": "2025-06-06T14:34:51.000Z",
  "id": "ZxFYvoqLv6WsH4Ch",
  "name": "Pull Request - Mono Repo Encore",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "owner": {
          "__rl": true,
          "value": "https://github.com/groupon",
          "mode": "url"
        },
        "repository": {
          "__rl": true,
          "value": "groupon-monorepo",
          "mode": "list",
          "cachedResultName": "groupon-monorepo",
          "cachedResultUrl": "https://github.com/groupon/groupon-monorepo"
        },
        "events": [
          "pull_request"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.githubTrigger",
      "typeVersion": 1,
      "position": [
        -480,
        -140
      ],
      "id": "579afed0-90fc-477a-8311-b45ff0ce144b",
      "name": "Github Trigger",
      "webhookId": "2a0a092a-21c7-489b-aa18-3869b05a44a1",
      "credentials": {
        "githubApi": {
          "id": "qPZdyhyBMK2rvnKs",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAAAdlQLQs0/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=o7z1-oc_RFlZy4dRshcpKYtBp9cDhkJeOq6Kvtkb0T8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cards\": [\n    {\n      \"header\": {\n        \"title\": \"New Pull Request PR-{{ $json.body.number }} umpalumpas!\",\n        \"subtitle\": \"It's time to help your fellas.\",\n        \"imageUrl\": \"https://pngimg.com/d/github_PNG40.png\",\n        \"imageStyle\": \"IMAGE\"\n      },\n      \"sections\": [\n        {\n          \"widgets\": [\n              {\n               \"textParagraph\": {\n                \"text\": {{ $json.body.pull_request.body != null ? $json.body.pull_request.body.replace(/^\\s*\\n+/, '').toJsonString() : '\"No Description yet\"' }}\n               }\n              },\n              {\n               \"buttons\": [\n                {\n                  \"textButton\": {\n                    \"text\": \"Open Pull Request PR-{{ $json.body.number }}\",\n                    \"onClick\": {\n                      \"openLink\": {\n                        \"url\": \"https://github.com/groupon/groupon-monorepo/pull/{{ $json.body.number }}\"\n                      }\n                    }\n                  }\n                }\n               ]\n             }\n          ]\n        }\n      ]\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        -160
      ],
      "id": "846d28c3-7003-43be-b3da-20419f8335b8",
      "name": "Send to Chat1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://chat.googleapis.com/v1/spaces/AAAAdlQLQs0/messages?key=AIzaSyDdI0hCZtE6vySjMm-WEfRq3CPzqKqqsHI&token=o7z1-oc_RFlZy4dRshcpKYtBp9cDhkJeOq6Kvtkb0T8",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cards\": [\n    {\n      \"header\": {\n        \"title\": \"Jabadaba du PR-{{ $json.body.number }} is merged!\",\n        \"subtitle\": \"This PR is going to {{$json.body.pull_request.title}}\",\n        \"imageUrl\": \"https://pngimg.com/d/github_PNG40.png\",\n        \"imageStyle\": \"IMAGE\"\n      },\n      \"sections\": []\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        120,
        120
      ],
      "id": "f1445019-a58d-4540-8282-20562cc4ce00",
      "name": "Send to Chat"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "57df9e85-4102-4741-b7cf-5df4bbc11f9a",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "closed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        80
      ],
      "id": "c60512b4-60fa-4752-9d91-bd96bbda7ec2",
      "name": "Merged"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "57df9e85-4102-4741-b7cf-5df4bbc11f9a",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "opened",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "01c1b15a-e6e8-4f23-b07f-8f8779a9cadd",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "reopened",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -180,
        -140
      ],
      "id": "a38137f3-a12e-4955-902d-fbc47c924c98",
      "name": "New PR"
    }
  ],
  "connections": {
    "Github Trigger": {
      "main": [
        [
          {
            "node": "New PR",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send to Chat1": {
      "main": [
        []
      ]
    },
    "Merged": {
      "main": [
        [
          {
            "node": "Send to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New PR": {
      "main": [
        [
          {
            "node": "Send to Chat1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Github Trigger": {
      "webhookId": 550789265,
      "webhookEvents": [
        "pull_request"
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a3573ef6-b689-42bc-8eb9-8a8e1c93e960",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-06-06T10:56:43.483Z",
      "updatedAt": "2025-06-06T10:56:43.483Z",
      "id": "iHGwzTyvlIq80sxq",
      "name": "Encore"
    }
  ]
}